<!doctype html>
<html>
{{template "header"}}

<body>
  <div class="w-full flex flex-col sm:flex-row flex-wrap sm:flex-nowrap flex-grow">
    <!-- fixed-width -->
    <div class="w-fixed w-full flex-shrink flex-grow-0 px-4">
      <div class="top-0 p-4 w-full m-auto">
        <button id="showVideo" class="btn m-auto" style="margin: auto;">Compartilhar audio</button>
      </div>
      <video id="video1" muted autoplay="true" style="height: 160px; width: 160px; margin: auto;"></video>
    </div>
    <div role="main" class="w-full h-screen flex flex-row">
      <div class="basis-3/4 p-2 mx-2">
        <div class="box h-full"></div>
      </div>
      <div class="basis-1/4 p-2 mx-2">
        <div class="box h-full" id="logs"></div>
      </div>
    </div>
  </div>
  <script type="module" src="/static/js/rpc.js"></script>
</body>

</html>
